Repository sagarshrestha24/demo1: changes, and which Jenkins stages are due for each by the changed paths.
All: Project1, Project2

Project1:
        steps {
  	script {
  	  build 'Project1/'
  	  sh "ls" 
  	}
        }
      

Project2:
        steps {
  	script {
  	  build 'Project2'
  	  sh "ls" 
  	}
        }
      

Update file
  Project1/file
Due: Project1

Update Jenkinsfile
  Jenkinsfile
Due: none

tst
  project1/Jenkinsfile
  project1/file
Due: Project1

Update file
  project1/file
Due: Project1

Update Jenkinsfile
  project1/Jenkinsfile
Due: Project1

Create filr2
  Project2/filr2
Due: Project2

Update filr2
  Project2/filr2
Due: Project2

test
  .gitignore
  .gitsecret/keys/mapping.cfg
  .gitsecret/keys/pubring.kbx
  .gitsecret/keys/pubring.kbx~
  .gitsecret/keys/trustdb.gpg
  .gitsecret/paths/mapping.cfg
  public-key.gpg
Due: none

Path conditions:
  Project1: any of: Project1/**
  Project2: any of: Project2/**
